.App {
  min-width: 100vw;
  min-height: 100vh;
  width: 100vw;
  height: 300vh;
  background-color: #FFF7E9;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 30px;
}

#plantify {
  font-size: 2rem;
  text-decoration: none;
  font-weight: bold;
  color: #385250;
  font-family: bold;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-item a {
  display: inline-block;
  padding: 10px 15px;
  font-weight: bold;
  font-size: 1.2rem;
  text-decoration: none;
  color: #385250;
  font-family: bold;
  margin: 0px 20px;
}

.search-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 40px;
  background: #D1C3A7;
  padding: 8px 15px;
  border-radius: 15px;
}

.search-box input {
  height: 100% !important;
  width: 100% !important;
  outline: none !important;
  border: none !important;
  background: #D1C3A7 !important;
  padding: none !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.register-button-box {
  background-color: #385250;
  border-radius: 16px;
}

#register-button {
  color: white;
}

.background-plant {
  object-fit: contain;
  object-position: 0px 0px;
  width: 80%;
  height: 80%;
  transform: scaleX(-1) rotate(-30deg);
}

.login-page {
  text-align: center;
  height: 200vh;
  background-image: url("./img/Monstera.png");
  background-color: #FFF7E9;
  background-repeat: no-repeat;
}

.register-page {
  text-align: center;
  height: 300vh;
  background-image: url("./img/Monstera.png");
  background-color: #FFF7E9;
  background-repeat: no-repeat;
}

.login-container {
  width: 380px;
  margin: 100px auto;
  position: relative;
  background-color: white;
  padding: 30px;
  border-radius: 30px;
  text-align: center;
  box-shadow: 5px 5px 10px grey;
}

.register-container {
  width: 900px;
  margin: 100px auto;
  position: relative;
  background-color: white;
  padding: 30px;
  border-radius: 30px;
  text-align: center;
  box-shadow: 5px 5px 10px grey;
}

.container-half {
  width: 50%;
  float: left;
}

.input-group {
  position: relative;
  margin: auto;
  width: 80%;
}

h2 {
  font-size: 1rem;
  margin: 10px;
}

hr {
  margin: 20px auto;
  width: 85%;
}

label {
  color: black;
  display: block;
  margin-top: 1em;
  font-size: 1rem;
  font-weight: bold;
  text-align: left;
}

input[type = text] {
  border: 1px solid gray;
  width: 100%;
  padding: 1em;
  box-sizing: border-box;
  border-radius: 1em;
  margin-top: .5em;
  margin-bottom: 1.2em;
}

textarea[type = text] {
  border: 1px solid gray;
  width: 100%;
  padding: 1em;
  box-sizing: border-box;
  border-radius: 1em;
  margin-top: .5em;
  margin-bottom: 1.2em;
  resize: none;
}

input[type = password] {
  border: 1px solid gray;
  width: 100%;
  padding: 1em;
  box-sizing: border-box;
  border-radius: 1em;
  margin-top: .5em;
  margin-bottom: 1.2em;
  font-family: Verdana;
}

input[type = button] {
  background: #385250;
  border: none;
  width: 70%;
  color: white;
  font-family: bold;
  font-weight: bold;
  margin-top: 1.2em;
  margin-bottom: 1.2em;
  padding: 1em 0;
  border-radius: 50px;
  font-size: 1.3em;
  cursor: pointer;
}

.login-register-swap {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  font-weight: bold;
}

#register-button {
  width: 30%;
}

.plantbase-page {
  text-align: center;
  color: #385250;
}

#back-icon {
  background-color: transparent;
  color: #D1C3A7;
}

.plantbase {
  text-align: left;
}

#number-of-plants {
  margin-left: 160px;
  font-family: bold;
}

#your-plantbase {
  font-family: bold;
}

.plantbase-button {
  display: inline-block;
}

.plantbase-button > p {
  font-size: .8rem;
}

.plantbase-icon {
  margin: 10px 10px;
  background-color: #385250;
  color: white;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  border: none;
  font-size: 2em;
  justify-content: center;
  cursor: pointer;
}

.plantbase-container {
  display: grid;
  height: auto;
  padding-top: 35px;
  margin: 0 120px;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-auto-rows: 10px;
  justify-content: center;
}

.add-plant-page {
  text-align: left;
  color: #385250;
}

.add-plant-container {
  width: 1000px;
  height: 700px;
  margin: 0px auto;
  margin-top: -60px;
  position: relative;
  background-color: #FFF7E9;
  padding: 30px;
  border-radius: 30px;
  text-align: center;
  box-shadow: 5px 5px 10px grey;
}

.upload-image-container {
  width: 50%;
  height: 90%;
  float: left;
}

.upload-text-container {
  width: 50%;
  height: 90%;
  float: left;
  text-align: left;
  padding: 30px;
}

.image-drop-box {
  background-color: #E4D9C4;
  margin: 0px auto;
  position: relative;
  width: 90%;
  height: auto;
  border-radius: 16px;
  padding: 10px 0px;
}

.dotted-box {
  margin: auto;
  width: 95%;
  height: 556px;
  outline: 3px dashed #B0A58F;
  border-radius: 16px;
}

#upload-icon {
  height: 40px;
  width: 40px;
  margin-top: 58%;
  border-radius: 30px;
  color: #E4D9C4;
}

#upload-text {
  font-family: 'Josefin Sans';
}

#plant-name {
  margin-top: 50px;
  padding-left: 0px;
  height: 30px;
  width: 400px;
  background-color: #FFF7E9;
  border-radius: 0px;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  outline: none;
  font-family: bold;
  font-size: 2rem;
}

#plant-name::placeholder {
  color: #385250;
}

#plant-species {
  padding-left: 0px;
  height: 30px;
  width: 400px;
  background-color: #FFF7E9;
  border-radius: 0px;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  outline: none;
  font-family: 'Josefin Sans';
  font-weight: bold;
  font-size: 1.5rem;
}

#plant-species::placeholder {
  color: #385250;
}

#plant-description {
  border: none;
  height: 290px;
  box-shadow: 5px 5px 10px grey;
  font-family: 'Josefin Sans';
  font-weight: bold;
  font-size: 1.5rem;
}

#plant-description::placeholder {
  color: #385250;
}

#save-button {
  width: 25%;
}

.plant-container {
  width: 1000px;
  height: 700px;
  margin: 0px auto;
  margin-top: -60px;
  position: relative;
  background-color: #FFF7E9;
  border-radius: 30px;
  text-align: center;
  box-shadow: 5px 5px 10px grey;
}

.plant-image-container {
  width: 50%;
  height: 100%;
  float: left;
  border-radius: 30px 0px 0px 30px;
}

.plant-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px 0px 0px 30px;
}

.plant-bio-container {
  width: 50%;
  height: 100%;
  float: left;
  border-radius: 0px 30px 30px 0px;
  padding: 20px;
  text-align: left;
}

.single-plant-header {
  margin-top: 60px;
  margin-bottom: 20px;
  color: #385250;
  font-family: bold;
}

#single-plant-description {
  color: #385250;
  font-family: 'Josefin Sans';
  font-size: 1.2rem;
}

.pin {
  border-radius: 16px;
  background: #444;
  margin: 5px;
  position: relative;
  overflow: hidden;
}

.pin .main-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pin.small {
  grid-row-end: span 26;
}
.pin.medium {
  grid-row-end: span 33;
}
.pin.large {
  grid-row-end: span 45;
}
